name: Mirror to Personal Repo

on:
  push:
    branches: [main, develop]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to Mirror
        env:
          TARGET_REPO: ${{ secrets.MIRROR_REMOTE_URL }}
          USERNAME: ${{ secrets.MIRROR_USERNAME }}
          TOKEN: ${{ secrets.MIRROR_TOKEN }}
        run: |
          CLEAN_URL="${TARGET_REPO#https://}"
          git remote add mirror "https://${USERNAME}:${TOKEN}@${CLEAN_URL}"
          git push --tags --force --prune mirror "refs/remotes/origin/*:refs/heads/*"
